#jsDom
    padding-top: 100px
    .chat
        background-color: #e8edff
        padding: 25px
        border-radius: 20px
        .message
            padding: 10px 10px 200px
            background-color: #ffff
            border-radius: 20px
            .line
                color: #ffff
                background-color: #7991e7
                border-radius: 20px
                padding: 10px
        .text
            background-color: #e8edff
            padding: 15px 100px
            input
                border-radius: 20px
            .btn
                color: #ffff
                background-color: #7991e7
                border-radius: 20px
                padding: 5px 20px
                margin-left: 10px
